#### 1. N школьников делят K яблок поровну, неделяющийся остаток остается в корзинке. Сколько яблок достанется каждому школьнику?

In [1]:
n = int(input())
k = int(input())

print(k // n)

3
14
4

#### 2. N школьников делят K яблок поровну, неделяющийся остаток остается в корзинке. Сколько яблок останется в корзинке?

In [2]:
n = int(input())
k = int(input())

print(k % n)

3
14
2

#### 3. Дано натуральное число. Выведите его последнюю цифру.

In [3]:
n = int(input())
print(str(n)[-1])

179
9

In [4]:
n = int(input())
print(n % 10)

179
9

#### 4. Дано двузначное число. Найдите число десятков в нем.

In [5]:
n = int(input())
print(n // 10)

42
4

#### 5. Дано натуральное число. Найдите число десятков в его десятичной записи (вторую справа цифру).

In [6]:
n = int(input())
print(str(n)[-2])

73
7

In [7]:
n = int(input())

print(n % 100 // 10)

73
7

#### 6. Дано число. Найдите сумму его цифр.

In [9]:
n = int(input())

print(sum([int(i) for i in str(n)]))

179
17

#### 7. Дано целое число N. Выведите следующее за ним четное число.

In [10]:
n = int(input())
print(n + 1 if n % 2 != 0 else n + 2)

7
8

#### 8. Заданное число N записали 100 раз подряд и затем возвели в квадрат. Что получилось?

In [11]:
n = input()
n_100 = n * 100
print(int(n_100) ** 2)

3
11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111108888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888889

#### 9. Дана строка. Разрежьте ее на две равные части (если длина строки — четная, а если длина строки нечетная, то длина первой части должна быть на один символ больше). Переставьте эти две части местами, результат запишите в новую строку и выведите на экран.

In [12]:
string = input()
part_1 = string[:(len(string) - 1) // 2 + 1]
part_2 = string[(len(string) - 1) // 2 + 1:]

print(part_2 + part_1)

Hello
loHel

#### 10. По данному натуральному n≥2 вычислите сумму 1×2+2×3+...+(n-1)×n. Ответ выведите в виде вычисленного выражение и его значения в точности, как показано в примере.

In [13]:
n = int(input())
summa = sum([(i-1)*i for i in range(2, n + 1)])
string = '+'.join([f'{i-1}*{i}' for i in range(2, n + 1)]) + f'={summa}'
print(string)

4
1*2+2*3+3*4=20

#### 11. Дано натуральное число n. Напечатайте все n-значные нечетные натуральные числа в порядке убывания.

In [14]:
n = int(input())
lst = [i for i in range(int('1' + '0' * (n - 1)), int('1' + '0' * n)) if i % 2 != 0]
print(*list(reversed(lst)))

1
9 7 5 3 1

In [15]:
n = int(input())
lst = [i for i in range(10 ** (n - 1), 10 ** n) if i % 2 != 0]
print(*list(reversed(lst)))

1
9 7 5 3 1